@font-face {
    font-family: 'fixedsys';
    src: url('/r/f/fixedsys.eot');
    src: url('/r/f/fixedsys.woff') format('woff'), url('/r/r/fixedsys.ttf') format('embedded-opentype'), url('/r/f/fixedsys.ttf') format('truetype'), url('/r/f/fixedsys.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'vcr-osd';
    src: url('/r/f/VCROSDMono.woff2') format('woff2');
    src: url('/r/f/VCROSDMono.woff') format('woff'),
         url('/r/f/VCROSDMono.eot?#iefix') format('embedded-opentype'),
         url('/r/f/VCROSDMono.eot'),
         url('/r/f/vcr-osd.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'fixedsys';
    background: black;
    color: red;
    font-size: 12pt;
}

a {
    color: red;
}

h1, h2, h3 {
    font-family: 'vcr-osd';
    font-size: 2.5em;
    font-style: normal;
    font-weight: normal;
}

.content-container {
    margin: auto;
    max-width: 60em;
    font-size: 12pt;
}

x-write {
    display: none;
}